.hr-glossary main {
  margin-bottom: 100px;
}

.hr-glossary main > .section.page-header-container {
  padding: 0;
}

.hr-glossary .callout.block {
  background: var(--theme-base);
}

.hr-glossary .callout h3,
.hr-glossary .callout p {
  color: var(--color-white);
}

.hr-glossary .callout .button-container a {
  background: var(--color-white);
  color: var(--theme-base);
}

.hr-glossary main .default-content-wrapper a:any-link {
  background: linear-gradient(#f000 50%, var(--theme-tint10) 50.1%);
}

.hr-glossary #you-might-also-like {
  margin-top: 80px;
  margin-bottom: 40px;
}

.hr-glossary .cards > .card.has-image img {
  margin-bottom: 30px;
}


/* cover */
.section.bg-cover-green-patterns {
  position: relative;
}
.bg.bg-cover-green-patterns {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/styles/backgrounds/bg-cover-green-patterns.png');
}

.hr-glossary .image.bottom-gap {
  bottom: -8px !important;
  position: relative;
}